*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    /* width: 900px; */
    height: 700px;
    /* background-color: red; */
    display: grid;
    /* grid-template-rows: 133px 133px 133px;
    grid-template-columns: 133px 133px 133px; */
    /* grid-template-rows: repeat(3 ,1fr);
    grid-template-columns: repeat(3,1fr); */
    grid-template-rows: 43px 1fr 43px;
    grid-template-columns: 1fr 1fr 1fr;

    row-gap: 12px;
    column-gap: 20px;


}
.item{
    /* height: 122px;
    width: 122px; */
    background-color: chartreuse;
}
.item1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 1 /span 3;
    background-color: black;
    color: white;
    /* justify-self: center; */
}

.footer{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: black;
}